@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.chat-history{
    background-color: #175676;
    height: 600px;
    width: max-content;
    display: block;
    float: left;
    transform: translate(80px, 60px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.chat-messages{
    background-color: #4BA3C3;
    width: 975px;
    height: 540px;
    float: right;
    transform: translate(-80px, 60px);
    overflow-y: auto
    
}
.chat-typing{
    display: block;
    background-color: #CCE6F4;
    width: 975px;
    height: 60px;
    float: right;
    transform: translate(-80px, 60px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.text-area{
    display: flexbox;
    align-items: flex-start;
    height: 80%;
}
.send-icon{
    float: right;
    color: rgb(58, 58, 58);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transform: translate(-40px, -45px);
    border-radius: 50%;
}
button{
    border-radius: 50%;
    cursor: pointer;
    background: rgba(76, 175, 80, 0.1)
}
.menu-bar{
    background-color: #1a6185;
    width: 400px;
    height: 60px;
    display: block;
    float: left;
    border-radius: 5px 5px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.search-bar{
    transform: translate(30px,-17px);
}
.new-message{
    float: right;
    border: none;
    color: #fff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transform: translate(-20px, 5px);
    border-radius: 50%;
}
.show-friend{
    background-color: #2c81ac;
    color: blanchedalmond;
    text-align: left;
    justify-content: left;
    margin-top: 5px;
    width: 380px;
    height: 70px;
    display: block;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: translateX(10px);
}
.show-friend:hover{
    opacity: 0.6;
}
.show-friend>h2{
    font-family: 'Raleway';
    color: cornsilk;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 15px;
}
.all-users{
    background-color: #2ca8ac;
    color: rgb(255, 255, 255);
    text-align: left;
    justify-content: left;
    margin-top: 5px;
    width: 380px;
    height: 70px;
    display: block;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateX(10px);
}
.all-users:hover{
    opacity: 0.6;
}
.all-users>h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cornsilk;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 15px;
}
.selected-friend{
    background-color: #8fc4df;
    color: rgb(255, 255, 255);
    text-align: left;
    justify-content: left;
    margin-top: 5px;
    width: 380px;
    height: 70px;
    display: block;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: translateX(10px);
}
.selected-friend>h2{
    font-family: 'Raleway';
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding-left: 20px;
    padding-top: 15px;
}
.receiver-info{
    color: cornsilk;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    font-family: 'Raleway';
}
.gap{
    margin-top: 100px;
}
.sender-name{
    color: rgb(0, 0, 0);
    font-size: 0.7em;
    transform: translate(-65px, -35px);
}
.receiver-name{
    color: rgb(255, 255, 255);
    font-size: 0.7em;
    transform: translate(65px, -35px);
}
.left-side {
    margin-bottom: 20px;
    margin-left: 20px;
	background-color: #fff;
	padding: 1.125em 1.5em;
	font-size: 1em;
	border-radius: 0 1rem 1rem 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
    width: fit-content;
    display: flex;
}
.right-side {
	position: relative;
    display: flex;
    justify-content: right;
    margin-left: 65%;
    width: auto;
    margin-bottom: 20px;
	background-color: rgb(151, 178, 250);
	padding: 1.125em 1.5em;
	font-size: 1em;
	border-radius: 1rem 0 1rem 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    border-bottom-color: rgb(151, 178, 250);
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}
textarea.ant-input{
    transform: translateY(5px);
    height: 50px;
    width: 80%;
}
.receiver-info{
    background-color: #2c81ac;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 10px;
}
.logout{
    float: left;
    border: none;
    color: #fff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transform: translate(20px, 5px);
    border-radius: 50%;
}
.empty-chat{
    transform: translateY(130px);
    opacity: 70%;
}
.add-friends{
    transform: translate(280px,15px);
}
.add-button{
    float: right;
    transform: translateY(-35px);
    margin-right: 10px;
}
input{
    margin-right: 10px;
}
.escape{
    transform: translate(90%,-20px);
}